
<div *ngIf="grocery">

    <p>
    <mat-form-field appearance="fill">
      <mat-label for="grocery-name">Name: </mat-label>
      <input matInput [(ngModel)]="grocery.name" placeholder="name">
    </mat-form-field>
  </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label >Purchased: </mat-label>
        <mat-select id="grocery-purchased" [(value)]="grocery.purchased" >
          <mat-option  [value]=true>true</mat-option>
          <mat-option  [value]=false>false</mat-option>
        </mat-select>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label >Aisle: </mat-label>
        <mat-select id="grocery-aisle" [(value)]="grocery.aisle" >
          <mat-option *ngFor="let aisle of this.aisles" [value]="aisle">
            {{aisle}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label >Quantity: </mat-label>
        <input matInput [(ngModel)]="grocery.quantity" placeholder="quantity">
      </mat-form-field>
    </p>
  
  </div>

  <button mat-raised-button (click)="goBack()" >Cancel</button>
  <button mat-raised-button (click)="updateGrocery()" >Update</button>

