        <mat-form-field>
        <input #addName type="text" placeholder="Add Item"  matInput [formControl]="myControl"
            [matAutocomplete]="auto" (input)="search(addName.value)">
            
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let option of searchRes$ | async" [value]="option">
                {{option.name[0]}}
            </mat-option>
        </mat-autocomplete>
        
    </mat-form-field>
    <button mat-raised-button (click)="addItem(addName.value); addName.value = ''">Add</button>
<div>
    <mat-form-field appearance="fill">
        <mat-label>Filter purchased:</mat-label>
        <mat-select [(value)]="selected" (selectionChange)="filterTable()">
          <mat-option value="Not purchased">Not purchased</mat-option>
          <mat-option value="Purchased">Purchased</mat-option>
          <mat-option value="All">All</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Select Supermarket:</mat-label>
        <mat-select [(value)]="selectedSearchURL"  (selectionChange)="changeSuperMarket()">
          <mat-option *ngFor="let url of this.searchURLs" [value]="url">{{url.provider}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>



<table mat-table  [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"  class="mat-elevation-z8">
    <ng-container matColumnDef="ingredient">
        <th mat-header-cell *matHeaderCellDef  mat-sort-header sortActionDescription="Sort by ingredient">Ingredient</th>
        <td mat-cell *matCellDef="let grocery"> <a routerLink="/grocerydetail/{{grocery.uid}}">{{grocery.ingredient}}</a></td>
    </ng-container>
    <ng-container matColumnDef="aisle">
        <th mat-header-cell *matHeaderCellDef  mat-sort-header sortActionDescription="Sort by aisle">Aisle</th>
        <td mat-cell *matCellDef="let grocery">
            <mat-select id="grocery-aisle" [(value)]="grocery.aisle" (selectionChange)="onGroceryChange(grocery)">
                <mat-option *ngFor="let aisle of this.aisles" [value]="aisle">
                  {{aisle}}
                </mat-option>
              </mat-select>
        </td>
    </ng-container>
    <ng-container matColumnDef="purchased" >
        <th mat-header-cell *matHeaderCellDef  mat-sort-header sortActionDescription="Sort by purchased">Purchased</th>
        <td mat-cell *matCellDef="let grocery">
              <mat-checkbox [(ngModel)]="grocery.purchased" (change)="onGroceryChange(grocery)" >
              </mat-checkbox>
        </td>
    </ng-container>
    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>Delete</th>
        <td mat-cell *matCellDef="let grocery"><button mat-raised-button (click)="deleteItem(grocery)">Delete</button></td>
    </ng-container>
    <ng-container matColumnDef="view">
        <th mat-header-cell *matHeaderCellDef>View in store</th>
        <td mat-cell *matCellDef="let grocery"><button mat-raised-button (click)="viewItem(grocery)">view</button></td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
</table>